<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webTail</title>
</head>
<body>
<div class="Left">
    <div class="Layer1">
        <!--        TODO 使用 链接元素完成-->
        <a href="">联系我们</a>
    </div>
    <div class="Layer2">
        <!--        TODO 使用 p元素完成-->
        <p>主办单位：浙江省粮食和物资储备局</p>
    </div>
    <div class="Layer3">
        <!--        TODO 使用div完成-->
        <div class="ICP">浙ICP备10004714号</div>
    </div>
</div>
<div class="Right">
    <div class="Error"></div>
    <div class="Gov"></div>
</div>
</html>