<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webTail</title>

    <!--    样式表导入-->
    <!--导入 webTail CSS-->
    <link rel="stylesheet" href="webTail.css">
    <!--    导入 全局 CSS-->
    <link rel="stylesheet" href="../../../global.css">
    <!--    导入边框-->
    <link rel="stylesheet" href="../../wrapper/wrapper.css">

</head>
<body>
<div class="WebTailWrapper">
    <div class="Left">
        <div class="Layer1">
            <a href="">联系我们</a>
            <a href="">版权声明</a>
            <a href="">网站地图</a>
            <a href="">隐私声明</a>
            <a href="">帮助指南</a>
            <a href="">浙江省粮食和物资综合管理平台</a>
        </div>
        <div class="Layer2">
            <span>主办单位：浙江省粮食和物资储备局</span>
            <span>地址：杭州延安路591号</span>
            <span>联系人：樊蓉 0571-85773037</span>
            <span>Email: zjlyzx@sohu.com</span>
        </div>
        <div class="Layer3">
            <span class="ICP">浙ICP备10004714号</span>
            <span class="Code">网站标识码：3300000110</span>
            <span class="Inter">浙公安网备33010302000060号</span>
        </div>
    </div>
    <div class="Right">
        <img class="Pic1" src="../../../images/WebTail_ErrorC.png" alt="">
        <img class="Pic2" src="../../../images/WebTail_DZ.png" alt="">
    </div>
</div>
</body>
</html>