.LinksWrapper {
    padding-left: 130px;
    padding-right: 130px;
}

.HeaderTop {
    padding-left: 130px;
    padding-right: 130px;
}

.ContentWrapper {
    padding-left: 130px;
    padding-right: 130px;
}

/*大图放置*/
.wrapper {
    background: url('../../images/Global_BG.png') center 38px repeat-x;
}

.WebTailWrapper {
    padding-left: 130px;
    padding-right: 130px;
}
