.LinksWrapper {
    padding-left: 130px;
    padding-right: 130px;
}

.HeaderTop {
    padding-left: 130px;
    padding-right: 130px;
}

.ContentWrapper {
    padding-left: 230px;
    padding-right: 230px;
}

/*大图放置*/
.wrapper {
    background: url('../../images/Global_BG.png') center 38px no-repeat;
}

.WebTailWrapper {
    padding-left: 130px;
    padding-right: 130px;
}
