<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Links</title>

    <!--    样式表导入-->
    <!--    Links CSS-->
    <link rel="stylesheet" href="links.css">
    <!--    wrapper CSS-->
    <link rel="stylesheet" href="../../wrapper/wrapper.css">
    <!--    global CSS-->
    <link rel="stylesheet" href="../../../global.css">

</head>
<body>

<!--友情链接区域-->
<div class="Links">

    <!--    友情链接 Wrapper-->
    <div class="LinksWrapper">

        <!--        文字-->
        <p>友情链接</p>

        <!--        图片-->
        <div class="Pic1"></div>
        <div class="Pic2"></div>

        <!--        文字-->
        <div class="Links1">各省粮食局网站</div>
        <div class="Links1">省内各市县粮食部门</div>
        <div class="Links1">其他链接</div>
    </div>
</div>
</body>
</html>