p {
    text-indent: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

h3 {
    text-align: center;
}

img {
    max-height: 700px;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    margin:0 auto;
}

.BelowTitle {
    text-align: center;
}

.line {
    padding: 0 20px 0;
    line-height: 1px;
    border-left: 200px solid #ddd;
    border-right: 200px solid #ddd;
    text-align: center;
    margin: 40px 0 20px;
}

tr td, th {
    border: 1px solid #ccc;
}

td {
    width: 300px;
    height: 35px;
}

th {
    width: 150px;
}

.InfoTable {
    border-collapse: collapse;
    margin-top: 50px;
    margin-bottom: 40px;
}

p:last-child {
    margin-bottom: 100px;
}