.wrapper .ContentWrapper .BoardLine {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #999999;
    border-bottom: 0;
    width: 100%;
    height: 600px;
    /*background-color: #ec940a;*/
}

.ContentWrapper {
    border-left: 130px;
    border-right: 150px;
    height: 600px;
}

.wrapper .ContentWrapper .InsideWrapper {
    /*background-color: #ec940a;*/
    margin-right: 50px;
    margin-left: 50px;
}

.wrapper .ContentWrapper .InsideWrapper .Left {
    width: 210px;
    /*background-color: #37694c;*/
    display: inline-block;
    vertical-align: top;
}

.wrapper .ContentWrapper .InsideWrapper .Middle {
    width: 570px;
    /*background-color: #1974A1;*/
    display: inline-block;
    vertical-align: top;
}

.wrapper .ContentWrapper .InsideWrapper .Right {
    width: 280px;
    /*background-color: #333333;*/
    display: inline-block;
    vertical-align: top;
}

.wrapper .ContentWrapper .InsideWrapper .Left .ColWrapper .Col {
    width: 200px;
    height: 40px;
    background-color: #f5f5f5;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-left: 5px solid #37694c;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
}

.wrapper .ContentWrapper .InsideWrapper .Left .ColWrapper:first-child {
    margin-top: 20px;
}

.wrapper .ContentWrapper .InsideWrapper .Left .AreaWrapper {
    margin-top: 35px;
    border: 2px solid #37694c;
    width: 200px;
    height: 220px;
}

.wrapper .ContentWrapper .InsideWrapper .Left .AreaWrapper .AreaHead {
    width: 200px;
    height: 42px;
    background-color: #37694c;
    font-size: 16px;
    color: #fff;
    line-height: 42px;
    text-align: center;
}

.wrapper .ContentWrapper .InsideWrapper .Left .AreaWrapper .ChoseAreaWrapper .Chose {
    width: 95px;
    height: 40px;
    background-color: #f5f5f5;
    display: inline-block;
    vertical-align: top;
    color: #333333;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    margin-top: 3px;
}

.wrapper .ContentWrapper .InsideWrapper .Middle .NewWrapper {
    width: 560px;
    height: 290px;
    z-index: 1;
    margin-top: 20px;
}

.wrapper .ContentWrapper .InsideWrapper .Middle .NewWrapper .HeadWrapper {
    width: 560px;
    height: 40px;
    background-color: #f2f6fa;
    border: solid 1px #ddd;
}

.wrapper .ContentWrapper .InsideWrapper .Middle .NewWrapper .HeadWrapper .HeadText {
    color: white;
    width: 136px;
    line-height: 40px;
    font-weight: normal;
    font-size: 16px;
    background-color: #37694c;
    text-align: center;
}

.wrapper .ContentWrapper .InsideWrapper .Middle .NewWrapper .InfoWrapper .Info {
    width: 560px;
    height: 32px;
    /*background-color: pink;*/
    margin-top: 5px;
}

.wrapper .ContentWrapper .InsideWrapper .Middle .NewWrapper .InfoWrapper .Info .Text {
    width: 460px;
    height: 32px;
    line-height: 32px;
    color: #333333;
    font-size: 15px;
    /*background-color: darkkhaki;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
}

.wrapper .ContentWrapper .InsideWrapper > .Middle > .NewWrapper > .InfoWrapper > .Info > .Date {
    width: 80px;
    height: 32px;
    /*background-color: #ec940a;*/
    display: inline-block;
    vertical-align: top;
    line-height: 32px;
    text-align: right;
    color: #999999;
    font-size: 14px;
}

.wrapper .ContentWrapper .InsideWrapper .Right .Upper {
    margin-top: 20px;
}

.wrapper .ContentWrapper .InsideWrapper .Right .Upper > div {
    display: inline-block;
}

.wrapper .ContentWrapper .InsideWrapper .Right .Down {
    width: 270px;
    height: 320px;
    border: solid 1px #ddd;
    margin-top: 20px;
}

.wrapper .ContentWrapper .InsideWrapper .Right .Down .HeaderWrapper {
    width: 270px;
    height: 40px;
    /*background-color: #ec940a;*/
    border-bottom: #333333 1px solid;
}

.wrapper .ContentWrapper .InsideWrapper .Right .Down .HeaderWrapper .HeadText {
    line-height: 40px;
    width: 151px;
    height: 40px;
    text-align: center;
    color: #37694c;
    font-size: 16px;
    border-bottom: #37694c 2px solid;
}

.wrapper .ContentWrapper .InsideWrapper .Right .Down .Info {
    width: 270px;
    height: 50px;
}

.wrapper .ContentWrapper .InsideWrapper .Right .Down .Info .Text {
    line-height: 50px;
    display: inline-block;
}

.wrapper .ContentWrapper .InsideWrapper .Right .Down .Info .Date {
    line-height: 50px;
    display: inline-block;
    text-align: right;
    float: right;
}