<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>headerDown</title>

    <!--外部样式表导入-->
    <!--HeaderDown 样式表-->
    <link rel="stylesheet" href="headerDown.css">

    <!--Wrapper 样式表-->
    <link rel="stylesheet" href="../../wrapper/wrapper.css">

    <!--导入全局样式表-->
    <link rel="stylesheet" href="../../../global.css">

</head>
<body>
<div class="HeaderDown">
    <!--三个外部链接，省政府网站，政务网站，官方微信-->

    <!--Logo-->
    <div class="Logo">
        <a href="">
            <img src="../../../images/HeaderDown_浙江省粮食储备局.png" alt="">
        </a>
    </div>

    <!--政府网站链接-->
    <div class="Gov">
        <a href="">
            <img src="../../../images/HeaderDown_浙江省人民政府.png" alt="">
        </a>
    </div>

    <!--政务网站链接-->
    <div class="GovEvent">
        <a href="">
            <img src="../../../images/HeaderDown_浙江省政务.png" alt="">
        </a>
    </div>

    <!--官网微信导入-->
    <div class="WeChat">
        <a href="">
            <img src="../../../images/HeaderDown_官方微信.png" alt="">

            <!--该 span 使用绝对位置-->
            <span>官方微信</span>
        </a>
    </div>
</div>

</body>
</html>