<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>headerTop</title>

    <!--    样式表导入-->
    <!--    headerTop 外部样式表-->
    <link rel="stylesheet" href="headerTop.css">
    <!--    导入全局样式-->
    <link rel="stylesheet" href="../../../global.css">

</head>
<body onload="time()">
<div class="HeaderTop">

    <!--    HeaderTop 左边不可点击元素-->
    <p>欢迎访问浙江省粮食和物资储备局</p>
    <span>今天是：</span> <span id="showtime"></span>

    <!--    HeaderTop 右边可点击元素-->
    <div class="NavBar">
        <a class="UserCenter">用户中心</a>
        <a href="">网站无障碍</a>
        <a href="">智能问答</a>
        <a href="">统计数据</a>
        <a href="" class="OlderMode">进入老年模式</a>
        <a href="">设为首页</a>
        <div class="DivideLine"></div>
        <a href="">加为收藏</a>
    </div>
</div>
</body>
<script>
    /* 时间 */
    function time() {
        t_div = document.getElementById('showtime');
        var now = new Date()
        t_div.innerHTML = now.getFullYear() + "/" + (now.getMonth() + 1) + "/" + now.getDate() + "/" + now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds() + "";
        setTimeout(time, 1000);
    }
</script>
</html>