<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Links</title>

    <!--    Links CSS-->
    <link rel="stylesheet" href="links.css">
    <!--    wrapper CSS-->
    <link rel="stylesheet" href="../../wrapper/wrapper.css">
</head>
<body>
<div class="Links">
    <div class="LinksWrapper">
        <p>友情链接</p>
        <div class="Pic1"></div>
        <div class="Pic2"></div>
        <div class="Links1">各省粮食局网站</div>
        <div class="Links1">省内各市县粮食部门</div>
        <div class="Links1">其他链接</div>
    </div>
</div>
</div>
</body>
</html>