<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>headerTop</title>

    <!--    headerTop 外部样式表-->
    <link rel="stylesheet" href="headerTop.css">
    <!--    wrapper 样式表-->
    <link rel="stylesheet" href="../../wrapper/wrapper.css">

</head>
<body>
<div class="HeaderTop">

    <!--    HeaderTop 左边不可点击元素-->
    <p>欢迎访问浙江省粮食和物资储备局</p>
    <p>今天是：2022年5月9日</p>

    <!--    HeaderTop 右边可点击元素-->
    <div class="NavBar">
        <a class="UserChoose">用户中心</a>
        <a href="">网站无障碍</a>
        <a href="">智能问答</a>
        <!--        TODO 使用链接完成旁边元素-->
        <!--        TODO 老年模式 使用 OlderMode 类-->
        <!--        TODO 分割线用 DivideLine 类-->
    </div>
</div>

</body>
</html>