/*设置导入 HeaderTop*/
.wrapper .HeaderWrapper .Header .HeaderTop {
    height: 38px;
}

/*设置导入 BarTop*/
.wrapper .HeaderWrapper .Bar .BarTop {
    height: 60px;
    border: 0;
    margin: 0;
    padding: 0;
}

/*设置导入 Links*/
.wrapper .TailWrapper .Links {
    height: 176px;
    border: 0;
    margin: 0;
    padding: 0;
}

.wrapper .TailWrapper .WebTail {
    height: 140px;
    background: #37694c 1408px;
    border: 0;
    margin: 0;
    padding: 0;
}

/*设置 iframe 样式*/
iframe {

    /*使用原来网页长宽*/
    width: 100%;
    height: 100%;

    /*去除所有边框*/
    margin: 0;
    padding: 0;
    border: medium none;

    /*禁止竖向滚动*/
    overflow-y: hidden;
    overflow-x: hidden;
}

.BarDown {
    height: 0px;
}