/*全局样式*/
* {
    /*设置字体*/
    font-family: "微软雅黑", fangsong;

    color: #333333;

    size: 14px;

}

/*设置全局链接样式*/
a:link, a:visited {

    /*去除链接样式*/
    text-decoration: none;

    /*设置默认颜色*/
    color: #333333;
}
