/*头条CSS*/
/*头条高度设置*/
.wrapper .ContentWrapper .Headlines1 {
    height: 100px;
    /*background-color: #ec940a;*/
}

/*头条上层高度设置，边框设置*/
.wrapper .ContentWrapper .Headlines1 .HeadlinesTop {
    height: 45px;
    /*background-color: pink;*/
    margin-top: 15px
}

/*头条上层左边 设置*/
.wrapper .ContentWrapper .Headlines1 .HeadlinesTop .Left {
    width: 10%;
    height: 100%;
    /*background-color: palegoldenrod;*/
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    background: url("images/home-1.png");
}

/*头条上层右边标题设置*/
.wrapper .ContentWrapper .Headlines1 .HeadlinesTop .Right {
    width: 84%;
    height: 100%;
    /*background-color: palegreen;*/
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 26px;
    line-height: 45px;
}

/*头条下面三连*/
/*设置下面三连新闻大小*/
.wrapper .ContentWrapper .Headlines1 .HeadlinesDown {
    height: 31px;
    width: 100%;
    /*background-color: paleturquoise;*/
}

/*设置下面三连新闻字体参数*/
.wrapper .ContentWrapper .Headlines1 .HeadlinesDown .Info:first-child {
    margin-left: 11%;
}

.wrapper .ContentWrapper .Headlines1 .HeadlinesDown .Info {
    height: 31px;
    width: 25%;
    /*background-color: aliceblue;*/
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    line-height: 31px;
    /*background: url("/images/Home_Point.png") center no-repeat;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*新闻1*/
.wrapper .ContentWrapper .New1 {
    height: 370px;
    /*background-color: palevioletred;*/
    padding-left: 0;
    padding-right: 0;
}

/* 左边图片*/
.wrapper .ContentWrapper .New1 .New1Left {
    width: 50%;
    height: 370px;
    /*background-color: papayawhip;*/
    display: inline-block;
    vertical-align: top;
    float: left;
    z-index: 2;
}

/*右边栏*/
.wrapper .ContentWrapper .New1 .New1Right {
    width: 50%;
    height: 370px;
    /*background-color: peru;*/
    display: inline-block;
    vertical-align: top;
    float: left;
}

/*右边标题栏*/
.wrapper .ContentWrapper .New1 .New1Right .New1RightHeadlines a {
    width: 20%;
    height: 50px;
    display: inline-block;
    /*background-color: pink;*/
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    border-bottom: solid #37694c 3px;
    float: left;
}

/*右边标题栏*/
.wrapper .ContentWrapper .New1 .New1Right .New1RightHeadlines a:hover {
    color: #ec940a;
    border-bottom: solid #ec940a 3px;
}

/*新闻栏高度*/
.wrapper .ContentWrapper .New1 .New1Right .New1RightList .New {
    height: 34px;
    width: 100%;
    /*background-color: peachpuff;*/
}

/*新闻文本*/
.wrapper .ContentWrapper .New1 .New1Right .New1RightList .New .Text {
    height: 100%;
    width: 90%;
    /*background-color: floralwhite;*/
    display: inline-block;
    vertical-align: top;
    float: left;
    line-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*新闻时间*/
.wrapper .ContentWrapper .New1 .New1Right .New1RightList .New .Date {
    height: 100%;
    width: 10%;
    /*background-color: darkgreen;*/
    display: inline-block;
    vertical-align: top;
    float: left;
}

.wrapper .ContentWrapper .New2 {
    margin-top: 30px;
    height: 300px;
    /*background-color: fuchsia;*/
    z-index: -1;
}

.wrapper .ContentWrapper .New2 .Left {
    height: 100%;
    width: 25%;
    /*background-color: #ec940a;*/
    display: inline-block;
    vertical-align: top;
    float: left;
}

.wrapper .ContentWrapper .New2 .Left .Head a {
    /*height: 50px;*/
    /*background-color: bisque;*/
    /*font-size: 15px;*/
    width: 100%;
    height: 50px;
    display: inline-block;
    color: #37694c;
    /*background-color: pink;*/
    text-align: left;
    line-height: 50px;
    font-size: 18px;
    border-bottom: solid #37694c 3px;
    float: left;
}

.wrapper .ContentWrapper .New2 .Left .Head a:hover {
    color: #ec940a;
    border-bottom: solid #ec940a 3px;
}

.wrapper .ContentWrapper .New2 .Left .Pics {
    height: 100%;
    width: 100%;
}

.wrapper .ContentWrapper .New2 .Left .Pics > div {
    display: inline-block;
    height: 125px;
    width: 50%;
    /*background: url("/images/home-7.png") center no-repeat;*/
    /*background-color: #1974A1;*/
    float: left
}

.wrapper .ContentWrapper .New2 .Left .Pics .Text {
    display: block;
    height: 15px;
    width: 100%;
    background-color: sandybrown;
}

.wrapper .ContentWrapper .New2 .Left .Pics .picWithText .Pic {

}

.wrapper .ContentWrapper .New2 .Left .Pics .Pic {
    display: block;
    height: 110px;
    width: 100%;
    background-color: silver;
}

.wrapper .ContentWrapper .New2 .Middle {
    height: 100%;
    width: 55%;
    background-color: #37694c;
    display: inline-block;
    vertical-align: top;
    float: left;
}

.wrapper .ContentWrapper .New2 .Middle .New2MiddleHeadlines a {
    width: 20%;
    height: 50px;
    display: inline-block;
    background-color: darkgray;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    border-bottom: solid #37694c 3px;
    float: left;
}

.wrapper .ContentWrapper .New2 .Middle .New2MiddleInfos .New {
    height: 35px;
    width: 100%;
    background-color: peachpuff;
}

.wrapper .ContentWrapper .New2 .Middle .New2MiddleInfos .New .Text {
    height: 35px;
    width: 90%;
    background-color: deeppink;
    z-index: 2;
    display: inline-block;
    vertical-align: top;
    float: left;
}

.wrapper .ContentWrapper .New2 .Right {
    height: 100%;
    width: 20%;
    background-color: #f7f7f7;
    display: inline-block;
    vertical-align: top;
    float: left;
}

.wrapper .ContentWrapper .New2 .Right .Upper > div {
    width: 50%;
    height: 110px;
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    /*margin-right: 10px;*/
    background-color: pink;
    display: inline-block;
    float: left;
    vertical-align: top;
}

.wrapper .ContentWrapper .New2 .Right .Down {
    width: 188px;
    height: 170px;
    background-color: #37694c;
    display: inline-block;
    margin: 6px 6px 6px 25px;
}

.wrapper .ContentWrapper .DSXX {
    margin-top: 30px;
    width: 100%;
    height: 100px;
    background-color: navajowhite;
    vertical-align: top;
}

.wrapper .ContentWrapper .LBLW {
    margin-top: 30px;
    width: 100%;
    height: 100px;
    background-color: navajowhite;
    margin-bottom: 30px;
    vertical-align: top;
}