<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>headerDown</title>

    <!--    HeaderDown 样式表-->
    <link rel="stylesheet" href="headerDown.css">

    <!--    Wrapper 样式表-->
    <link rel="stylesheet" href="../../wrapper/wrapper.css">

</head>
<body>
<div class="HeaderDown">
    <!--    三个外部链接，省政府网站，政务网站，官方微信-->
    <div class="Logo">
        <img src="../../../images/HeaderDown_浙江省粮食储备局.png" alt="">
    </div>
    <div class="Gov">
        <img src="../../../images/HeaderDown_浙江省人民政府.png" alt="">
    </div>
    <div class="GovEvent">
        <img src="../../../images/HeaderDown_浙江省政务.png" alt="">
    </div>
    <div class="WeChat">
        <img src="../../../images/HeaderDown_官方微信.png" alt="">
    </div>
</div>

</body>
</html>